{% extends 'baseuser.html' %} 
 {% block head_title %} Engineering Orange {% endblock %}
 {% block title %} Edit Account Details{% endblock %}
 
 {% block content %}
	<fieldset>
	<BR>
	{% if form.messages.errors or doesNotExist or notice%}
		<div id="notice">
			{{ form.messages.errors }}
			{{ error_message }}
			{{notice}}
		</div>
	{% endif %}
	<BR>
	<form action="#" method="post">	
			{% csrf_token %}{{ form.as_p }}
		<p><input type="submit" name="send" class="formbutton" value="Change Password" /></p>
	</form>
	
	</fieldset>
 {% endblock %}
