{% extends 'baseuser.html' %} 
 {% block head_title %} Engineering Orange {% endblock %}
 {% block title %}<h5/> Welcome {{employer.companyname}}!{% endblock %}
 
 {% block content %}
	<fieldset/>
	<br>
	<h3>Announcements</h3>
	{% if announcements %}
	    {% for announcement in announcements%}
					<p style="white-space:pre">{{announcement.annText}}</p>
					<fieldset>
						<h5 align = "right">Date posted: {{announcement.datePosted}}</h5>
	         	 	        </fieldset>
            {% endfor %}
    {% else %}
        <h4/>There are no announcements.
    {% endif %}
 {% endblock %}
