{% extends 'baseuser.html' %}
 {% block head_title %} Engineering Orange {% endblock %}
 {% block title %}
{% if sent %}
<h3>Sent Messages </h3>
{% else %}
<h3>Messages</h3>
{% endif %}
 {% endblock %}
 
 {% block content %}
{% if messages %}
<table id = "results">
<tr>
{% if sent%}
<th/>To
{% else %}
<th/>From
{% endif %}
<th/>Subject
<th/>Content
<th/>Date Sent
<th/>Delete
</tr>
            {% for msg in messages%}
<tr onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);" onclick="Nav('/message/{{user.userid}}/{{msg.msgid}}');">
{% if sent %}
<td>{{msg.toid.email}}</td>
{% else %}
<td>{{msg.fromid.email}}</td>
{% endif %}
<td>{{msg.subject}}</td>
<td> <p style="white-space:pre">{{msg.message}}</p></td>
<td>{{msg.senddate}}</td>
<td>
<form action= "/message/delete/{{user.userid}}/{{msg.msgid}}/" method="post">
{% csrf_token %}{{ delete.as_p }}
<input type="submit" name="send" class="floatbutton" value="Delete Message" onclick="return confirm('Are you sure you want to delete?')" />
</form>
</td>
</tr>
            {% endfor %}
        </table>

<div id="pageNavPosition" align="right"></div>

<script type="text/javascript">
var pager = new Pager('results', 10);
pager.init();
pager.showPageNav('pager', 'pageNavPosition');
pager.showPage(1);
</script>
    {% else %}
        <h4/>You have no messages.
    {% endif %}
 {% endblock %}
