{% extends 'baseemployer.html' %} 
 {% block head_title %} Engineering Orange {% endblock %}
 {% block title %}<h3/>Messages{% endblock %}
 
 {% block content %}
	{% if messages %}
		<table id = "results">
			<tr>
				{% if sent%}
					<th/>To
				{% else %}
					<th/>From
				{% endif %}
				<th/>Subject
				<th/>Content
				<th/>Date Sent
				<th/>Delete
			</tr>	
            {% for msg in messages%}
				<tr onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);" onclick="Nav('/message/{{user.userid}}/{{msg.msgid}}');">
					{% if sent %}
						<td>{{msg.toid.email}}</td>
					{% else %}
						<td>{{msg.fromid.email}}</td>
					{% endif %}				
					<td>{{msg.subject}}</td>
					<td>{{msg.message}}</td>
					<td>{{msg.senddate}}</td>
					<td><a href = "/message/delete/{{user.userid}}/{{msg.msgid}}" onclick="return confirm('Are you sure you want to delete?')">delete<a/></td>
				</tr>
            {% endfor %}
        </table>
		
		<div id="pageNavPosition" align="right"></div>
			
		<script type="text/javascript">
			var pager = new Pager('results', 20); 
			pager.init(); 
			pager.showPageNav('pager', 'pageNavPosition'); 
			pager.showPage(1);
		</script>
    {% else %}
        <h4/>You have no messages.
    {% endif %}
 {% endblock %}
