{% extends 'basejobseeker.html' %} 
 {% block head_title %} Engineering Orange {% endblock %}
 {% block title %}<h5/> Welcome {{jobseeker.firstname}}!{% endblock %}
 
 {% block content %}
	<fieldset/>
	<br>
	<h3/>Announcements
	{% if announcements %}
            <ul>
            {% for announcement in announcements%}
                {{announcement.annText}}
				<p/>
				<fieldset/>
				<p align = "right"> Date posted: {{announcement.datePosted}}</p>
            {% endfor %}
            </ul>
    {% else %}
        <h4/>There are no announcements.
    {% endif %}
 {% endblock %}