{% extends 'basereverse.html' %}
	{% block sidebar%}
		<h3> Login Here </h3>
		<fieldset>
		{% if form.messages.errors or doesNotExist or notice %}
			<BR>
			<div id="notice">
				{{ form.messages.errors }}
				{{ error_message }}
				{{notice}}
			</div>
			<BR>
		{% endif %}
			<form action="", method="post">
				{% csrf_token%}
					{{form.as_p}}		
						<input type='submit' value='Login' class="floatbutton"/>
			</form>
		</fieldset>

		<p align="center">
			<BR>
			 <a href= "/resetpassword/" >Forgot your password? </a>		
		</p>
		
		<p align="center">
			<h3>Don't Have an Account?</h3>
			<form action="/register/" align = "center">
				<input type='submit' value='Register!' class="floatbutton"/>
			</form>
		</p>
	{% endblock %}
	{% block title %}Announcements{% endblock %}
	{% block content%}
		{% if announcements %}
        	        {% for announcement in announcements%}
					<p style="white-space:pre">{{announcement.annText}}</p>
					<fieldset>
						<h5 align = "right">Date posted: {{announcement.datePosted}}</h5>
	         	 	        </fieldset>
		    {% endfor %}
		{% else %}
			<h4/>There are no announcements.
		{% endif %}
	{% endblock%}
