   {% extends 'baseemployer.html' %} 
    {% block head_title %}{{message.subject}}{% endblock %}
    {% block title %}<h4>{{message.subject}}</h4>{% endblock %}
	
    {% block content %}
		<fieldset/><br>
		<b>From:</b> {{message.fromid.email}} <p/>
		<b>To: </b> {{message.toid.email}}
		<fieldset/>
		<br>
		<p/><pre>{{message.message}}</pre>
		<fieldset/>
		<p align = "right"><a href = "/reply/{{user.userid}}/{{message.msgid}}">reply</a> | <a href = "/message/delete/{{user.userid}}/{{message.msgid}}" onclick="return confirm('Are you sure you want to delete?')">delete message</a></p>
    {% endblock %}
