{% extends 'baseemployer.html' %} 
 {% block head_title %} Engineering Orange - View A Resume {% endblock %}
 {% block title %} Search For Resumes{% endblock %}
  
 {% block content %}
	<fieldset>
		<form action="/searchresume/{{user.userid}}/" method="get">
			{% csrf_token %} {{ form.as_p }}
			<p><input type="submit" class="formbutton" value="Search"></p>
		</form>
	</fieldset>
	
	{% if course or batch or city %}
    <h2>Results:</h2>
    {% if results %}
	<p align="right"><a href="/resume/exporttocsv/{{course}}/{{batch}}/{{city}}">Save Results to CSV</a></p>
      <table>
			<tr>
				<th/>Last Name
				<th/>First Name
				<th/>Course
				<th/>Batch
				<th/>Telephone Number
				<th/>Mobile Number
				<th/>Permanent Address
			</tr>	
			{% for resume in results %}
				<tr>
					<td><a href = "/resume/{{user.userid}}/{{resume.userid.userid}}">{{ resume.lastname|escape }}</a></td>
					<td><a href = "/resume/{{user.userid}}/{{resume.userid.userid}}">{{ resume.firstname|escape }}</a></td>
					<td>{{resume.courseid|escape}}</td>
					<td>{{resume.batch|escape}} </td>
					<td>{{resume.telephonenumber|escape}}</td>
					<td>{{resume.mobilenumber|escape}}</td>
					<td>{{resume.permanentaddress|escape}}</td>
				</tr>
			{% endfor %}
      </table>
    {% else %}
      <p><h4/>No Resumes found</p>
    {% endif %}
    {% endif %}
 {% endblock %}