{% extends 'baseuser.html' %} 
 {% block head_title %} Engineering Orange - Search for Resumes{% endblock %}
 {% block title %} Search For Resumes{% endblock %}
  
 {% block content %}
	<fieldset>
		<form action="/searchresume/{{user.userid}}/" method="get">
			{% csrf_token %} {{ form.as_p }}
			<p><input type="submit" class="formbutton" value="Search"></p>
		</form>
	</fieldset>

	{% if course or batch or city %}
		<table>
		<tr>
		<td width = 500 ><h2>Results:</h2></td>
		{% if results %}
			<td>
				<form action= "/resume/exporttocsv/{{user.userid}}/{{course}}/{{batch}}/{{city}}" method="POST">
					{% csrf_token %}
					<input type="submit" name="send" class="floatbutton" value="Save Results to CSV" />
				</form>
			</td>
			</tr>
			</table>
			<table id = "results">
				<tr>
					<th/>Last Name
					<th/>First Name
					<th/>Course
					<th/>Batch
					<th/>Telephone Number
					<th/>Mobile Number
					<th/>Permanent Address
				</tr>
				{% for resume in results %}
				<tr onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);" onclick="Nav('/resume/{{user.userid}}/{{resume.userid.userid}}');">
					<td>{{ resume.lastname|escape }}</td>
					<td>{{ resume.firstname|escape }}</td>
					<td>{{resume.courseid|escape}}</td>
					<td>{{resume.batch|escape}} </td>
					<td>{{resume.telephonenumber|escape}}</td>
					<td>{{resume.mobilenumber|escape}}</td>
					<td>{{resume.permanentaddress|escape}}</td>
				</tr>
				{% endfor %}
			</table>
			<div id="pageNavPosition" align="right"></div>
			<script type="text/javascript">
				var pager = new Pager('results', 30);
				pager.init();
				pager.showPageNav('pager', 'pageNavPosition');
				pager.showPage(1);
			</script>

    		{% else %}
			</tr>
			</table>
		        <p><h4/>No Resumes found</p>
    		{% endif %}
	{% endif %}
 {% endblock %}
