   {% extends 'baseemployer.html' %} 
    {% block head_title %}{{post.title}}{% endblock %}
    {% block title %}<h3>{{post.title}}</h2>{% endblock %}
	
    {% block content %}
		<fieldset/>
		<legend><h4>Job Description</h4></legend>
		{{post.description}}
		<p/>
		
		<fieldset/>
		<legend><h4>Job Qualification</h4></legend>
		{{qualifications.qualifications}}
		<p/>
		<p/>
		<p>
		<b>This post is valid until:</b> {{qualifications.validity}}
		</p>
		<p align = "right"> <a href = "/jobpost/edit/{{user.userid}}/{{post.jobid}}">edit</a> | <a href = "/jobpost/delete/{{user.userid}}/{{post.jobid}}">delete</a></p>
    {% endblock %}