{% extends 'baseemployer.html' %} 
	{% block head_title %} Engineering Orange - View All Job Posts {% endblock %}
	
	{% block title %}<h3/>Job Posts{% endblock %}
	
	{% block content %}
		{% if posts %}
            <table>
				<tr>
					<th/>Job Post
					<th/>Description
					<th/>Edit
					<th/>Delete
				</tr>	
				{% for post in posts%}
					<tr>
						<td><a href="/jobpost/view/{{user.userid}}/{{post.jobid.jobid}}"><b/>{{post.jobid.title}}</a></td>
						<td>{{post.description}}</td>
						<td><a href = "/jobpost/edit/{{user.userid}}/{{post.jobid.jobid}}">edit</a></td>
						<td><a href = "/jobpost/delete/{{user.userid}}/{{post.jobid.jobid}}">delete</td>
					</tr>
				{% endfor %}
            </table>
        {% else %}
            <p>There are no posts.</p>
        {% endif %}

    {% endblock %}